
<form action="/blogs" method="POST">
    <input type="text" name="blog[title]" placeholder="Title">
    <input type="text" name="blog[image]" placeholder="Image">
    <input type="text" name="blog[body]" placeholder="Text">
    <input type="submit">
</form>