<% include ./partials/header %>

<h1>Olá</h1>
    <div class="container">
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%=blog.image%>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><%- blog.body %></p>
                    <span><%= blog.created.toDateString() %></span>
                </div>
         </div>
    </div>
<% include ./partials/footer %> 
